<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1095324636702-m4j5ccrgvg6meci1knjgdbep7s04bmg5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1095324636702-m4j5ccrgvg6meci1knjgdbep7s04bmg5</string>
	<key>API_KEY</key>
	<string>AIzaSyBMIi-OTVYOmTdFovTMAoC61IA3hX-oHO4</string>
	<key>GCM_SENDER_ID</key>
	<string>1095324636702</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.joon.anipalR</string>
	<key>PROJECT_ID</key>
	<string>petpal-bb577</string>
	<key>STORAGE_BUCKET</key>
	<string>petpal-bb577.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1095324636702:ios:284878cfd3aad7181dc00f</string>
</dict>
</plist>